.container {
  max-width: 1000px;
  margin: 0 auto;
}

.halfWidth {
width: 500px;
/* background-color: grey; */
}

.hidden {
visibility: hidden;
max-height: 0px;
max-width: 0px;
}

.unavail {
color: darkgrey;
cursor: initial;
}

.avail {
color: black;
}

.checkmark {
float: right;
}

body {
font-family: 'Oswald', sans-serif;
}

header {
  background-color: #FE052C;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: inline-block;
  z-index: 1;
}

header h1 {
  color: #FFF;
  font-family: 'IM Fell Double Pica', serif;
  font-size: 40px;
  padding: 10px 2%;
  margin: 0;
  width: 16%;
  float: left;
  padding-left: 0;
}

header nav {
  padding: 19.5px 10px 10px 10px;
  width: 76%;
  float: right;
  text-align: right;
  line-height: 30px;
  margin-top: 0;
  position: relative;
  vertical-align: middle;
}

header ul {
    margin: 0px;
}

header li {
    max-width: 200px;
    display: inline;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin: 10px;
}

header li:nth-child(2) {
  margin-left: 20px;
}

header li:nth-child(3) {
  margin-right: 0px;
  margin-left: 85px;
}

header li:nth-child(4) {
  color: darkred;
}

header li:nth-child(5) {
  margin-right: 0px;
  margin-left: 0px;
  color: darkred;
}

li {
cursor: pointer;
}

form {
height: 200px;
position: relative;
}

#upper input {
margin: 10px;
}

input[type=button] {
  position: absolute;
  bottom: 0px;
  margin: 0px 10px;
}

#username {
  margin-right: 0px;
  border-style: solid;
  border-width: 3px;
  border-color: darkred;
}

#lower {
display: flex;
visibility: hidden;
}

#lower span {
  position: relative;
  top: 4px;
  cursor: pointer;
  font-size: 24px;
}

#upper {
margin-top: 80px;
display: flex;
height: 300px;
transition: height 5000ms ease-in-out;
}

#upper ul {
  overflow-y: auto;
  max-height: 200px;
  width: 450px;
}

#upper span {
  float: right;
}

#playList li { 
background: white;
}

#playList li:nth-child(odd) { 
  background: oldlace; 
}


#playTitle {
width: 1000px;
border-top: 1px solid red;
}

#groupName {
margin-right: 0px;
}

